<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBMS.Properties.Settings.Main_DatabaseConnectionString"
      connectionString="Data Source=BATU-PC;Initial Catalog=&quot;Main Database&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBMS.Properties.Settings.AdministrationConnectionString"
      connectionString="Data Source=BATU-PC;Initial Catalog=Administration;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
    <add key="connectionString" value="Data Source=BATU-PC;Initial Catalog=Administration;Integrated Security=True;Pooling=False" />
    <add key="connectionString" value="Data Source=BATU-PC;Initial Catalog=Main Database;Integrated Security=True;Pooling=False" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  
  
</configuration>