<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Admins"
         connectionString="Provider=Microsoft.ACE.OLEDB.14.0;Data Source=C:\Users\Batuhan\source\repos\DBMS-Project\DBMS\DBMS\Models\Admins.accdb;" />
    <add name="MainDatabase"
         connectionString="Provider=Microsoft.ACE.OLEDB.14.0;Data Source=C:\Users\Batuhan\source\repos\DBMS-Project\DBMS\DBMS\Models\MainDatabase.accdb;" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>